.clan-drag {
    height:70px;
    border: 1px solid black;
    margin: 10px;
    background-color: black;
}

.clan-drop {
    height: 70px;
    border: 1px dotted black;
    margin: 10px;
    background-color: #ffffff;
}

.clan-div {
    text-align:center;
    margin: 10px;
    border: 1px solid black;
    background-color: #ffffff;
}