.clan-drag {
    border: 5px solid black;
    margin: 20px;
    background-color: #ffffff;
}

.clan-drop {
    height: 100px;
    border: 3px dotted black;
    margin: 20px;
    background-color: #ffffff;
}